.modal-wrapper {
  display: none;
  @include flex-center-v;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $clr-white;
  z-index: 999;
  min-width: 90%;
  text-align: center;
  padding: 2rem;

  @include tablet {
    min-width: 70%;
    padding: 2rem 2.5rem;
    text-align: left;
  }

  @include desktop {
    min-width: 60%;
    padding: 2.5rem 3rem;
  }

  &__title {
    font-family: $ff-main;
    font-weight: $fw-bold;
    font-size: 2.625rem;
  }

  &__close-btn {
    position: absolute;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    top: 0.75rem;
    right: 0.75rem;

    @include tablet {
      top: 1.25rem;
      right: 1.25rem;
    }

    @include desktop {
      top: 1.75rem;
      right: 1.75rem;
    }
  }

  &__body {
    @include tablet {
      @include flex-center-v;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__message {
    font-family: $ff-main;
    font-weight: $fw-light;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.5rem 0;

    @include tablet {
      margin-right: 1.5rem;
    }
  }

  &__counter {
    font-weight: $fw-bold;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.active {
  display: block;
}
